@import "variables";
@import "scss/bootstrap";

@mixin bdcl($cl) {
  border-color: $cl !important;
}

.fa{
  background: none!important;
}

.modal-primary-border {
  @include bdcl($brand-primary);
}

.modal-success-border {
  @include bdcl($brand-success);
}

.modal-info-border {
  @include bdcl($brand-info);
}

.modal-danger-border {
  @include f($brand-danger);
}

.modal-warning-border {
  @include bdcl($brand-warning);
}

.btn_modal {
  .modal-title {
    color: white;
  }
}
button{
  cursor: pointer;
}
.card-title {
  margin-bottom: 0
}

.stdisable .btn {
  @extend .disabled;
}

.stactive .btn {
  @extend .active;
}
