@import "variables";
@import "scss/bootstrap";

@mixin btn-bg-cl($bg,$cl,$bd) {
  background-color: $bg;
  color: $cl;
  border-color: $bd;
  .fa {
    color: $cl;
    background: none;
  }
}
@mixin bdcl($cl) {
  border-color: $cl !important;
}

.fa{
  background: none!important;
}
.modal-body:before {
  content: "One fine body...";
}

.modal-primary-border {
  @include bdcl($brand-primary);
}

.modal-success-border {
  @include bdcl($brand-success);
}

.modal-info-border {
  @include bdcl($brand-info);
}

.modal-danger-border {
  @include bdcl($brand-danger);
}

.modal-warning-border {
  @include bdcl($brand-warning);
}

.btn_modal {
  .modal-title {
    color: white;
  }
  .modal-primary {
    background-color: $brand-primary;
  }
  .modal-success {
    background-color: $brand-success;
  }
  .modal-danger {
    background-color: $brand-danger;
  }
  .modal-warning {
    background-color: $brand-warning;
  }
  .modal-info {
    background-color: $brand-info;
  }
}
button{
  cursor: pointer;
}
.card-title {
  margin-bottom: 0
}

.stdisable .btn {
  @extend .disabled;
}

.stactive .btn {
  @extend .active;
}
